node_modules/
platforms/
plugins/
target/
dist/
www/
.idea/
TEST*.xml
.DS_Store
Thumbs.db
.temp
.sass-cache
*.app
*.apk
*.exe
*.class
*.py[cod]
*.log
*.jar
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
*.swp
*.swo

