ion-content {
  --background: #f9f9f9;
}

.products {
  column-count: 1;
  column-gap: 6px;

  margin: 16px;
  padding: 0px 16px;
  background: #fff;
  border-radius: 8px;
  .product {
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 6px;
    display: block;
    -webkit-column-break-inside: avoid !important;
    page-break-inside: avoid !important;
    break-inside: avoid !important;
    .offer {
      font-size: 0.7em;
      text-decoration: line-through;
      color: var(--ion-color-medium);
    }

    img {
      margin: 0px auto;
      display: block;
    }

    div {
      padding: 4px 8px 6px 8px;
    }

    p {
      font-size: 0.9em;
      margin: 0px 0px 4px 0px;
    }
    h3 {
      margin: 0px;
      font-size: 0.9em;
      color: var(--ion-color-primary);
      //font-weight: bold;
    }

    ion-icon {
      padding: 4px;
      border-radius: 50%;
      background: rgb(250, 250, 250);
      font-size: 1em;
      color: var(--ion-color-dark);
    }
  }
}

.order {
  background: #fff;
  border-radius: 10px;
  margin: 16px;
  overflow: hidden;

  .price {
    //font-weight: bold;
    font-size: 1em;
    color: rgb(255, 57, 57);
  }

  .offer_price {
    font-size: 0.8em;
    color: var(--ion-color-medium);
    text-decoration: line-through;
  }

  .price-label {
    font-size: 0.7em;
    text-transform: uppercase;
    margin-right: 40px;
  }

  .small-thumb {
    border-radius: 8px;
    overflow: hidden;
    height: 50px;
    width: 50px;
  }

  .seller_info {
    ion-thumbnail {
      border-radius: 8px;
      overflow: hidden;
    }

    h3 {
      font-size: 0.9em;
      font-weight: bold;
      margin: 0px;
    }
    p {
      margin: 0px;
      font-size: 0.7em !important;
    }
    ion-button {
      text-transform: capitalize;
    }

    ion-button {
      font-size: 0.6em;
    }
  }

  p {
    font-size: 0.9em;
    color: var(--ion-color-dark);
  }

  .counter {
    p {
      margin: 0px;
      text-align: center;
      font-weight: bolder;
      font-size: 0.9em;
      ion-icon {
        font-size: 1.6em;
      }
    }
  }
}

ion-item {
  ion-icon {
    padding: 4px;
    border-radius: 50%;
    background: rgb(250, 250, 250);
    font-size: 1em;
    color: var(--ion-color-dark);
  }
}

ion-badge {
  font-size: 0.6em;
}
