ion-content {
  --background: #f9f9f9;
}

.scrolling-wrapper {
  //background: #fff;
  //border-radius: 6% 6% 6% 6%;
  padding: 8px 16px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0px 14px;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

.category {
  width: 30%;
  margin: 8px 8px 8px 0px;
  padding: 8px 8px 0px 8px;
  color: #000;
  background: #fff;
  display: inline-block;
  ion-thumbnail {
    margin: 0px auto;
  }
  h2 {
    height: 3.3em;
    line-height: 1.1;
    font-size: 0.9em;
    //font-weight: bold;
    margin: 0px;
    color: var(--ion-color-medium);
  }
  p {
    font-size: 0.7em !important;
    color: #000 !important;
    margin: 0px;
  }
  ion-col {
    padding: 0xp;
  }

  .fa {
    font-size: 2.4em;
    color: var(--ion-color-primary);
  }
}

.active-category {
  background: var(--ion-color-primary);
  h2 {
    color: #fff;
    font-weight: bold;
  }
}

.products {
  column-count: 2;
  column-gap: 6px;
  padding: 0px 16px;

  .product {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 6px;
    width: 100%;
    display: block;
    -webkit-column-break-inside: avoid !important;
    page-break-inside: avoid !important;
    break-inside: avoid !important;

    .offer {
      font-size: 0.7em;
      text-decoration: line-through;
      color: var(--ion-color-medium);
    }
    img {
      margin: 0px auto;
      display: block;
    }

    div {
      padding: 4px 8px 6px 8px;
      display: block;
    }

    p {
      font-size: 0.9em;
      margin: 0px 0px 4px 0px;
      height: 2.2em;
      line-height: 1.1;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    h3 {
      margin: 2px;
      font-size: 0.9em;
      color: rgb(255, 57, 57);
      //font-weight: bold;
    }

    ion-icon {
      padding: 4px;
      border-radius: 50%;
      background: rgb(250, 250, 250);
      font-size: 1em;
      color: var(--ion-color-dark);
    }
  }
}
