<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="goBack()" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title translate>DISPUTES</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- Order Start -->
  <div class="order" *ngFor="let dispute of disputes?.data">
    <ion-item class="seller_info" lines="none">
      <ion-label>
        <h3>{{dispute?.shop?.name}}</h3>
        <p>{{dispute.updated_at}}</p>
      </ion-label>

      <ion-badge
        slot="end"
        mode="ios"
        *ngIf="dispute.status=='OPEN'"
        color="danger"
        >{{dispute.status}}</ion-badge
      >
      <ion-badge
        slot="end"
        mode="ios"
        *ngIf="dispute.status=='APPEALED'"
        color="danger"
        >{{dispute.status}}</ion-badge
      >
      <ion-badge
        slot="end"
        mode="ios"
        *ngIf="dispute.status=='SOLVED'"
        color="success"
        >{{dispute.status}}</ion-badge
      >
      <ion-badge
        slot="end"
        mode="ios"
        *ngIf="dispute.status=='NEW'"
        color="warning"
        >{{dispute.status}}</ion-badge
      >
    </ion-item>

    <ion-item *ngFor="let item of dispute.order_details.items" lines="none">
      <ion-thumbnail class="small-thumb" slot="start">
        <img [src]="item.image" />
      </ion-thumbnail>
      <ion-label>
        <p class="ion-text-wrap">{{item.description}}</p>
        <h2 class="price">
          <b>{{item.unit_price}}</b>
          <ion-text color="medium"> x {{item.quantity}}</ion-text>
        </h2>
      </ion-label>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-right">
          <span class="price-label" translate>ORDER_AMOUNT</span>
          <span class="price">{{dispute.order_details.grand_total}}</span>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-right">
        <ion-col class="ion-text-right">
          <ion-button
            size="small"
            shape="round"
            (click)="contactSeller(dispute.order_details)"
            translate
          >
            CONTACT_SELLER
          </ion-button>
          <ion-button
            size="small"
            shape="round"
            (click)="openDispute(dispute.id)"
            translate
          >
            DISPUTE_DETAILS
          </ion-button>
          <ion-button
            size="small"
            shape="round"
            *ngIf="!dispute?.closed"
            (click)="markSolved(dispute.id)"
            translate
          >
            MARK_AS_SOLVED
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- ORder End -->

  <ion-infinite-scroll
    (ionInfinite)="loadDisputes(disputes?.links?.next, $event)"
  >
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
