ion-grid {
  //background: #fff;
  border-radius: 12px 12px 12px 12px;
  margin: 8px 0px 8px 0px;
  padding: 16px;
  ion-col {
    padding: 5px 0px 5px 0px;
  }

  ion-item {
    border-radius: 10px;
    overflow: hidden;
  }

  ion-input {
    --placeholder-color: var(--ion-color-medium);
    --background: #f9f9f9;
    border-radius: 10px;
  }
  p {
    margin: 0px;
    font-size: 0.8em;
  }
}

ion-content {
  --background: #f9f9f9;
}
.read {
  font-weight: bold;
}

ion-textarea,
ion-input,
ion-select {
  --placeholder-color: var(--ion-color-medium);
  --background: #f9f9f9;
  border-radius: 10px;
  font-size: 0.9em;
  background: #f9f9f9;
}
