<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title translate>REVIEWS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Products Reviers Start -->
  <ion-grid>
    <ion-row>
      <ion-col class="ion-no-padding">
        <!-- Reviews list Start -->
        <ion-list class="reviews">
          <div *ngFor="let feedback of feedbacks">
            <!-- Review Item Start -->
            <ion-item lines="none">
              <ion-avatar slot="start"
                ><img [src]="feedback?.customer?.avatar"
              /></ion-avatar>
              <ion-label>
                <h3>{{feedback?.customer?.name}}</h3>
                <p>{{feedback?.updated_at}}</p>
              </ion-label>

              <ion-button
                slot="end"
                class="ion-no-padding ion-no-margin"
                fill="clear"
              >
                <ion-icon
                  color="medium"
                  *ngIf="feedback?.rating ==0"
                  name="star-outline"
                ></ion-icon>
                <ion-icon
                  color="warning"
                  *ngIf="feedback?.rating>=1"
                  name="star"
                ></ion-icon>
                <ion-icon
                  color="warning"
                  *ngIf="feedback?.rating > 0 && feedback?.rating <1"
                  name="star-half"
                >
                </ion-icon>

                <ion-icon
                  color="medium"
                  *ngIf="feedback?.rating <=1"
                  name="star-outline"
                ></ion-icon>
                <ion-icon
                  color="warning"
                  *ngIf="feedback?.rating>=2"
                  name="star"
                ></ion-icon>
                <ion-icon
                  color="warning"
                  *ngIf="feedback?.rating > 1 && feedback?.rating <2"
                  name="star-half"
                >
                </ion-icon>

                <ion-icon
                  color="medium"
                  *ngIf="feedback?.rating <=2"
                  name="star-outline"
                ></ion-icon>
                <ion-icon
                  color="warning"
                  *ngIf="feedback?.rating>=3"
                  name="star"
                ></ion-icon>
                <ion-icon
                  color="warning"
                  *ngIf="feedback?.rating > 2 && feedback?.rating <3"
                  name="star-half"
                >
                </ion-icon>

                <ion-icon
                  color="medium"
                  *ngIf="feedback?.rating <=3"
                  name="star-outline"
                ></ion-icon>
                <ion-icon
                  color="warning"
                  *ngIf="feedback?.rating>=4"
                  name="star"
                ></ion-icon>
                <ion-icon
                  color="warning"
                  *ngIf="feedback?.rating > 3 && feedback?.rating <4"
                  name="star-half"
                >
                </ion-icon>

                <ion-icon
                  color="medium"
                  *ngIf="feedback?.rating <=4"
                  name="star-outline"
                ></ion-icon>
                <ion-icon
                  color="warning"
                  *ngIf="feedback?.rating==5"
                  name="star"
                ></ion-icon>
                <ion-icon
                  color="warning"
                  *ngIf="feedback?.rating > 4 && feedback?.rating <5"
                  name="star-half"
                >
                </ion-icon>
                ({{feedback?.rating}})
              </ion-button>
            </ion-item>
            <p class="text">{{feedback?.comment}}</p>
            <!-- Review Item End -->
          </div>
        </ion-list>
        <!-- Reviews List End -->
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Product Reviews End -->
</ion-content>
