ion-content {
  --background: #f9f9f9;
}

ion-fab {
  ion-button {
    background: rgba(0, 0, 0, 0.199);
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
}

.header {
  //background: var(--ion-color-primary);
  border-radius: 0% 0% 8px 8px;
  overflow: hidden;

  img {
    height: 100%;
  }
  .header-item {
    h3 {
      font-size: 0.8em;
      font-weight: bold;
      margin: 0px;
    }
    p {
      margin: 0px;
      font-size: 0.7em !important;
      color: var(--ion-color-medium);
    }
  }
}

ion-grid {
  background: #fff;
  border-radius: 12px 12px 12px 12px;
  margin: 16px;
  padding: 16px;
  ion-col {
    padding: 5px 0px 5px 0px;
  }

  h2 {
    font-weight: bold;
    color: var(--ion-color-primary);
    font-size: 2em;
    margin: 8px;
  }

  p {
    margin: 0px;
    font-size: 0.8em;
  }
  .option {
    color: var(--ion-color-medium);
  }
  .value {
    color: var(--ion-color-dark);
  }
}
.bottom {
  display: block;
  height: 60px;
}
